body {
    margin: 0rem;
    padding: 0rem;
    overflow-x: hidden;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul .slider-content{
    display: flex;
    justify-content: space-between;
}
nav ul .slider-content .cross{
    display: none;
}
nav ul .slider-content{
    display: flex;
    justify-content: space-between;
}
nav ul  .start li a {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
}
nav ul  .middle {
    display: flex;
}
nav ul .middle li a{
    margin: 0rem 2rem;
    font-family: 'Kavoon', cursive;
}
nav ul .end{
    margin: 0rem 2rem;
}
nav ul .bars{
    display: none;
}
nav ul .end .donate{
    text-align: center;
    width: 100%;
    border-radius: .5rem;
    padding: .2rem .5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
    background-color:rgb(30, 0, 161) ;
}
nav ul .end .donate a{
    color: white;
    font-family: 'Kavoon', cursive;
}

.main-body .heading-content .image-container{
    margin: 0rem;
    width: 100%;
}
.main-body .heading-content .image-container img {
    width: 100%;
}
.main-body .heading-content .image-container span {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25rem;
}
.main-body .tabs .levels{
    display: flex;
    justify-content: center;
}
.main-body .tabs .levels .card{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    width: 75%;
    border-radius: .5rem;
    margin: 0rem 4rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.089);
}
.main-body .tabs .levels .card .image-container img{ 
    text-align: center;
    width: 40%;
    border-radius: .5rem;
}
.main-body .tabs .levels .card .conetnt ul{ 
    display: flex;
    text-align: center;
    width: 100%;
    border-radius: .5rem;
}
.main-body .tabs .levels .card .conetnt ul li{ 
    display: flex;
    text-align: center;
    position: relative;
}
.main-body .tabs .levels .card .conetnt ul li .img-1{ 
    width: 20%;
    border-radius: 1rem;
}
.main-body .tabs .levels .card .conetnt ul li .py{ 
    width: 250%;
    border-radius: 1rem;
}
.main-body .tabs .levels .card .conetnt ul li .l1{ 
    position: relative;
    left: 1rem;
}
.main-body .tabs .levels .card .conetnt ul li .img-2{ 
    width: 75%;
    border-radius: 1rem;
}
.main-body .tabs .levels .card .conetnt ul li .img-3{ 
    width: 20%;
    border-radius: 1rem;
}
.main-body .tabs .levels .card .conetnt ul li .l1{ 
    width: 15%;
    border-radius: 1rem;
    position: relative;
    right: 2rem;
}
.main-body .tabs .levels .card .conetnt ul li{ 
    margin: 0rem .5rem;
}
.main-body .about-us{ 
    text-align: center;
    margin: 2rem 4rem;
}
.main-body .about-us{ 
    text-align: center;
    margin: 2rem 4rem;
    justify-content: center;
}
.main-body .about-us .card{ 
    display: flex;
    justify-content: center;
}
.main-body .about-us .card .content{ 
    width: 50%;
    border-radius: .5rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.089);
}
.main-body .map .maps{ 
    display: flex;
    justify-content: center;
}
.main-body .map .maps .card{ 
    font-family: 'Rubik', sans-serif;
    width: 30%;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.274);
    margin: 0rem 2rem;
}
.main-body .map .maps .card .leading-text{ 
    text-align: center;
}
.main-body .map .maps .card ul{ 
    display: flex;
}
.main-body .map .maps .card ul li{ 
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.274);
    width: 100%;
    margin: 0rem .5rem;
    padding: .5rem .5rem;
}
footer { 
    border-top: 1px solid rgba(0, 0, 0, 0.274);
    margin: 2rem 0rem;
}
footer .contact-us{ 
    display: flex;
    justify-content: center;
    margin: .5rem 0rem;
}
footer .contact-us span{ 
    margin: 0rem 1rem;
}
footer .copyright{ 
    display: flex;
    justify-content: center;
    margin: .5rem 0rem;
}

@media screen and (max-width: 1020px) {
    body {
    margin: 0rem;
    padding: 0rem;
    overflow-x: hidden;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    nav ul .slider-content .cross{
        display: flex;
        justify-content: end;
        margin-right: 1rem;
        position: relative;
        bottom: 10rem;
    }
    nav ul .slider-content{
        display: none;
        justify-content: space-between;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: white;
        position:fixed;
        z-index: 1000;
    }
    nav ul  .start li a {
        font-family: 'Fredoka One', cursive;
        font-size: 24px;
    }
    nav ul  .middle {
        display: block;
        position: relative;
        top: 2rem;
    }
    nav ul .middle li{
        margin: 2rem 0rem;
    }
    nav ul .middle li a{
        margin: 2rem 2rem;
        font-family: 'Kavoon', cursive;
    }
    nav ul .end{
        margin: 0rem 2rem;
    }
    nav ul .bars{
        display: block;
        position: relative;
        top: .5rem;
        right: .5rem;
    }
    nav ul .end .donate{
        text-align: center;
        width: 50%;
        border-radius: .5rem;
        padding: .2rem .5rem;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
        background-color:rgb(30, 0, 161) ;
        margin: 1rem 0rem;
        position: relative;
        top: 4rem;
    }
    nav ul .end .donate a{
        color: white;
        font-family: 'Kavoon', cursive;
    }

    .main-body .heading-content .image-container{
        margin: 0rem;
        width: 100%;
    }
    .main-body .heading-content .image-container img {
        width: 100%;
    }
    .main-body .heading-content .image-container span {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 25rem;
    }
    .main-body .tabs .levels{
        display: block;
        justify-content: center;
    }
    .main-body .tabs .levels .card{
        font-family: 'Rubik', sans-serif;
        text-align: center;
        width: 75%;
        border-radius: .5rem;
        margin: 2rem 4rem;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.089);
    }
    .main-body .tabs .levels .card .image-container img{ 
        text-align: center;
        width: 40%;
        border-radius: .5rem;
    }
    .main-body .tabs .levels .card .conetnt ul{ 
        display: flex;
        text-align: center;
        width: 100%;
        border-radius: .5rem;
    }
    .main-body .tabs .levels .card .conetnt ul li{ 
        display: flex;
        text-align: center;
        position: relative;
    }
    .main-body .tabs .levels .card .conetnt ul li .img-1{ 
        width: 20%;
        border-radius: 1rem;
    }
    .main-body .tabs .levels .card .conetnt ul li .py{ 
        width: 250%;
        border-radius: 1rem;
    }
    .main-body .tabs .levels .card .conetnt ul li .l1{ 
        position: relative;
        left: 1rem;
    }
    .main-body .tabs .levels .card .conetnt ul li .img-2{ 
        width: 75%;
        border-radius: 1rem;
    }
    .main-body .tabs .levels .card .conetnt ul li .img-3{ 
        width: 20%;
        border-radius: 1rem;
    }
    .main-body .tabs .levels .card .conetnt ul li .l1{ 
        width: 15%;
        border-radius: 1rem;
        position: relative;
        right: 2rem;
    }
    .main-body .tabs .levels .card .conetnt ul li{ 
        margin: 0rem .5rem;
    }
    .main-body .about-us{ 
        text-align: center;
        margin: 2rem 4rem;
    }
    .main-body .about-us{ 
        text-align: center;
        margin: 2rem 2rem;
        justify-content: center;
    }
    .main-body .about-us .card{ 
        display: flex;
        justify-content: center;
    }
    .main-body .about-us .card .content{ 
        width: 100%;
        border-radius: .5rem;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.089);
    }
    .main-body .map .maps{ 
        display: block;
        justify-content: center;
    }
    .main-body .map .maps .card{ 
        font-family: 'Rubik', sans-serif;
        width: 100%;
        border-radius: .5rem;
        border: 1px solid rgba(0, 0, 0, 0.274);
        margin: 4rem 0rem;
    }
    .main-body .map .maps .card .leading-text{ 
        text-align: center;
    }
    .main-body .map .maps .card ul{ 
        display: flex;
    }
    .main-body .map .maps .card ul li{ 
        border-radius: .5rem;
        border: 1px solid rgba(0, 0, 0, 0.274);
        width: 100%;
        margin: 0rem .5rem;
        padding: .5rem .5rem;
    }
    footer { 
        border-top: 1px solid rgba(0, 0, 0, 0.274);
        margin: 2rem 0rem;
    }
    footer .contact-us{ 
        display: flex;
        justify-content: center;
        margin: .5rem 0rem;
    }
    footer .contact-us span{ 
        margin: 0rem 1rem;
    }
    footer .copyright{ 
        display: flex;
        justify-content: center;
        margin: .5rem 0rem;
    }
}